.projects .project {
    padding: 20px 0;
}

.projects img {
    border-radius: 10px;

}

.projects .title {
    padding-top: 15px;
}

.projects .title h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #242424;
}

.projects .location h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #4E4E4E;
}

.projects .location h5 span {
    padding-left: 5px;
}


.events .event {
    position: relative;
    margin: 20px 0;
}

.events .event a img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.09);
}

.events .event .date {
    padding: 15px 0 10px 0;
}

.events .event .date p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #4E4E4E;
    margin: 0 !important;
}

.events .event .title h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    color: #242424;

}


.career-div {
    padding: 100px 0;
}

.career .career-cat-tax {
    position: relative;
}

.career .career-cat-tax::after {
    content: '';
    width: 1px;
    height: 100%;
    background: #4E4E4E;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.career .career-cat-tax .career-cat {
    position: relative;
    padding-bottom: 10px;
}

.career .career-cat-tax .career-tax {
    position: relative;
    padding-top: 10px;
}

.career .career-cat-tax .career-cat::after {
    content: '';
    width: 90%;
    height: 3px;
    border-bottom: 1px solid #4E4E4E;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.career .career-cat-tax .career-cat ul,
.career .career-cat-tax .career-tax ul {
    list-style: none;
	padding: 0;
    margin: 0;
}

.career .career-cat-tax .career-cat ul li,
.career .career-cat-tax .career-tax ul li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    padding: 10px 0;
    text-transform: capitalize;
    color: #4E4E4E;
    transition: .3s ease-in-out;
}


.career .career-cat-tax .career-cat ul li:hover,
.career .career-cat-tax .career-tax ul li:hover {
    color: #0066FF !important;
    cursor: pointer;
}

li.active {
    color: #0066FF !important;
}

@media (max-width: 767px) {
    .career-items {
        padding-top: 40px;
    }

    .career .career-cat-tax::after {
        display: none;
    }
}

.career .career-items .career-item {
    background-color: #F6F6F6;
    padding: 30px 20px;
    margin: 0px 0px 20px 0px;
    transition: .3s ease-in-out;
	width:300px;
}

.career .career-items .career-item:hover {
    background: #FFFFFF;
    box-shadow: 0px 19px 40px rgba(0, 0, 0, 0.09);
}

.career .career-items .career-item p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    line-height: 130%;
    text-transform: capitalize;
    color: #FFF;
    background: #0066FF;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
	margin-right: 5px;
}

.career .career-items .career-item h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-transform: capitalize;
    color: #242424;
    margin-bottom: 15px;
}

.career .career-items .career-item h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-transform: capitalize;
    color: #4E4E4E;
    margin-bottom: 50px;
}

.career .career-items .career-item a {
    padding: 15px 30px;
    background: #ffffff;
    border: 1px solid #0066FF;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-decoration: none;
    transition: .3s ease-in-out;
    color: #0066FF;
}

.career .career-items .career-item a:hover {
    background: #0066FF;
    color: #FFFFFF;
}


.products .products__content {
    background-color: transparent;
    padding: 15px;
    margin: 10px auto;
    border-radius: 20px;
    transition: .3s ease-in-out;
    max-width: 350px;
}

.products .products__content:hover {
    background-color: #fff!important;
}

.products .products__content a {
    text-decoration: none;
}

.products .products__content img {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
}

.products .products__content h2 {
    font-family: "Poppins", Sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 10px;

}

.products .products__content p {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    line-height: 22px;
    padding: 0px 2px;
    text-align: left;
    color: #4E4E4E;
}

.products .products__content .view_more {
    margin-top: 40px;
    text-align: left;
}

.products .products__content .view_more_btn {
    font-size: 16px;
    background: #fff;
    border: 1px solid #0066FF;
    padding: 10px 25px;
    border-radius: 10px;
    text-align: left !important;
    color: #0066FF !important;
    font-weight: 500;
    transition: .3s ease-in-out;
}

.products .products__content .view_more_btn:hover {
    background: #0066FF;
    color: #fff !important;
}


.products .owl-dots {
    margin-top: 30px;
    text-align: center;
}

.products .owl-dots button {
    display: inline-block;
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ddd !important;
}

.products .owl-dots button:focus {
    outline: none;
    border: 0;
}


.products .owl-dots button.active {
    background-color: #004077 !important;
    box-shadow: 0px 0px 0px 5px rgba(190, 205, 222, 0.75);
}

.owl-carousel {
    display: block !important;
    width: 100%;
    z-index: 1;
}


@media only screen and (max-width: 991.98px) {
    .products .products__content910 {
        background-color: #fff;
    }
}

@media only screen and (max-width: 767.98px) {

    .projects .title h2 {
        margin-bottom: 10px !important;
        font-size: 20px !important;
    }

    .projects .location h5 {
        font-size: 16px !important;
    }

    .events .event .title h2 {
        margin-bottom: 10px !important;
        font-size: 17px !important;
    }

    .events .event .date {
        padding: 15px 0 5px 0;
    }


}


